.container {
  height: 250px;
  background-color: beige;
  display: grid;
  grid-template-columns: 100px 70px 80px;
  grid-template-rows: 90px 60px 70px;
  /* gap: .5em; */
  /* justify-items: center;
  align-items: end; */
  place-items: center;
  /* justify-content: center;
  align-content: center; */
  place-content: center;
}

.item {
  background-color: aqua;
  width: 50px;
  height: 50px;
}

.item-1 {
  background-color: blue;
  /* grid-row: 2;
  grid-column: 2;
  z-index: 1; */
}

.item-3 {
  background-color: red;

  /* justify-self: center;
  align-self: start; */
  place-self: center;

  /* grid-column-start: 1;
  grid-column-end: 4; */
  /* grid-column: 1 / 4; */
  /* grid-column: 1 / span 3; */

  /* grid-row-start: 2;
  grid-row-end: -1; */
}
